@model IEnumerable<Blog.Models.PublicImageViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/gallery");
 @Styles.Render("~/Content/css/gallery")
<script>
    $(function () {
        $('#gallery >div> a').fullsizable({
            detach_id: 'gallery',
            clickBehaviour:'detail'
        })

        $(document).on('fullsizable:opened', function () {
            $("#jquery-fullsizable").swipe({
                swipeLeft: function () {
                    $(document).trigger('fullsizable:next')
                },
                swipeRight: function () {
                    $(document).trigger('fullsizable:prev')
                },
                swipeUp: function () {
                    $(document).trigger('fullsizable:close')
                }
            });
        });
    });
</script>
<div class="container">
    <div class="row">
        <h1 class="pag-header">Public Gallery</h1>
    </div>
    <div class="gallery row" id="gallery">
        @if (Model != null)
        {
            int i = 0;
            while (i < Model.Count())
            {
                int j = 0;
            <div class="row">
                @while (j < 4 && i < Model.Count())
                {
                    var img = Model.ElementAt(i);
                    <a class="col-lg-3 col-md-4 col-xs-6 thumbnail thumb" 
                        data-imageName="@img.FileName" data-CameraModel="@img.CameraModel" data-imageHeight="@img.ImageHeight" 
                        data-imageWidth="@img.ImageWidth" data- href="@img.Url">
                        <img class="img-responsive" src="@img.Url"/>
    @*                              public string ImageHeight { get; set; }
                                    public string ImageWidth { get; set; }
                                    public string CameraModel { get; set; }
                                    public string Software { get; set; }
                                    public string Exposure { get; set; }
                                    public string Aperture { get; set; }
                                    public string FocusProgram { get; set; }
                                    public string ISO { get; set; }
                                    public string CaptureTime { get; set; }
                                    public string Flash { get; set; }
                                    public string FocusLength { get; set; }
                                    public string WhiteBalanceMode { get; set; }
                                    public string LensModel { get; set; }*@
                    </a>
                    i++;
                    j++;
                }
            </div>

            }
        }
    </div>
    <div class="row" id="pagination">
        <nav>
            <ul class="pagination">
                @if ((int)ViewBag.pageIndex > 0)
                {
                    <li>
                        <a href="/Gallery/@(ViewBag.pageIndex - 1)/12">
                            <span aria-hidden="true">&lsaquo;</span>
                            Previous                        
                        </a>
                    </li>    
                }
                @for (int i = (((int)ViewBag.pageIndex - 4) < 0) ? 0 : ((int)ViewBag.pageIndex - 4); i < ViewBag.pageCount && i < (int)ViewBag.pageIndex + 5; i++)
                {
                    if (i == ViewBag.pageIndex)
                    {
                    <li class="active">
                        <span>@(i + 1)</span>
                    </li>
                    }
                    else
                    {
                   
                    <li>
                        <a href="/Gallery/@i/12">
                            <span>@(i + 1)</span>
                        </a>
                    </li>
                    
                    }
                }
                @if ((int)ViewBag.pageCount > (int)ViewBag.pageIndex + 1)
                {
                    <li>
                        <a href="/Gallery/@(ViewBag.pageIndex + 1)/12">Next
                                <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>   
                }

            </ul>
        </nav>
    </div>
</div>
