@model Blog.Models.Member  
@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="wrapper">
      @using (Html.BeginForm("Signup", "Admin", FormMethod.Post, new { @class = "form-signup" }))
      {
          @Html.AntiForgeryToken();
          @Html.ValidationSummary(true);
      <h2 class="form-signup-heading">注册 Sign Up</h2>
          @Html.TextBoxFor(a => a.UserName, new {@class="form-control", placeholder="用户名 Username" ,autofocus=""})
        <br>
          @Html.TextBoxFor(a=>a.Password, new {@class ="form-control",type ="password",placeholder="密码 Password" })    
        <br>
          @Html.TextBoxFor(a => a.NickName, new { @class="form-control", placeholder="昵称 nickname" })
        <br>
          @Html.TextBoxFor(a=>a.Email , new { @class="form-control", placeholder="邮箱 Email"})
                <br>
          @Html.LabelFor(a => a.Description, "描述自己 Describe Yourself", new { @class="form-description-label"})
          @Html.TextAreaFor(a => a.Description, new { @class = "form-control", placeholder = "虎背熊腰, 力能扛鼎 Pig Alike ..." });
        <br />
      <button class="btn btn-lg btn-primary btn-block" type="submit">注 册 Sign Up</button>  
      <br />  <a href='@Url.Action("Login", "Admin")' class="">Already have an account?</a> 
      }
  </div>

 
