@Scripts.Render("~/bundles/jquery/TextEditor")
@model Blog.Models.ArticleSubmitView
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}
<link href="/Content/css/Tags/bootstrap-tag.css" rel="stylesheet" />
<script src="/Scripts/Tags/bootstrap-tag.js"></script>
<script src="~/Scripts/Tags/typeahead.bundle.js"></script>
<div class="col-lg-12">
    <h1 class="page-header">Article <small>Post</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-paper-plane"></i>Article Post
        </li>
    </ol>
</div>

@using (Html.BeginForm("ArticleReview", "Article", FormMethod.Post, new { @class = "col-lg-12" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="input-group">
        <span class="input-group-addon"><b>Title</b></span>
        @Html.TextBoxFor(a => a.Title, new { @class = "form-control input-lg" })
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon"><b>SubTitle</b></span>
        @Html.TextBoxFor(a => a.SubTitle, new { @class = "form-control input-lg" })
    </div>
    <br />
   <p> <b>Tags:</b><kbd>space</kbd> <small>or&nbsp;</small><kbd>enter</kbd><small>&nbsp;to seperate tags</small></p>
    <div class="input-group">
        <input class="input-tag" id="articleTag" type="text" name="tags" data-provide="tag">
    </div>
    <hr />
    @Html.TextAreaFor(a => a.Content, new { @class = "form-control", name = "Content", id = "Content", rows = "100", cols = "80" })
                 
    <script>
        CKEDITOR.replace('Content', {
            filebrowserImageBrowseUrl: '/Dashboard/ViewImage/' +@Session["LoggedUserID"] +'',
            filebrowserImageUploadUrl: '/Dashboard/UploadImage/' +@Session["LoggedUserID"] +'',
                    customConfig: '/Scripts/TextEditor/config.js'
                });
    </script>
    <br>
    <input type="text" name="AuthorID" value="@Session["LoggedUserID"]" hidden />
    <button type="submit" class="btn btn-success  btn-lg" id="preview" name="Action" value="preview">Preview</button>
    <button type="submit" class="btn btn-primary btn-lg" id="post" name="Action" value="post">Post</button>
}


<script>
    $(document).ready(function () {
        $('.side-nav > #Post>a').css("color", "#fff");
    });
    //$('#articleTag').on('added', function (e, value) {    
    //})
</script>

