@model IEnumerable<Blog.Models.ImageViewModel>

@{
    ViewBag.Title = "UploadImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/page/home.css" rel="stylesheet" type="text/css">
<script src="/Scripts/cardFlip.js"></script>

<div class="container">
    <div class="row">
        <h1 class="page-header">@Session["LoggedUserName"].ToString()'s Gallery</h1>
    </div>

    <div class="row">
        @foreach (var image in Model)
        {
            <div class="col-lg-3 col-md-4 col-xs-6 unit">
                <div class="thumb">
                    <div class="front">
                        @if (image.ContentType.Contains("video"))
                        {
                            <img src="~/Content/img/video-icon.svg" alt="Hejsan" id="#image" data-source="@image.Url" class="img-thumbnail" />
                        }
                        else
                        {
                            <img src="@image.Url.Substring(0,image.Url.Length-image.FileName.Length)thumbtail/@image.FileName" alt="Hejsan"  data-source="@image.Url" class="img-thumbnail" />                        
                        }
                    </div>
                    <div class="back">
                        <p class="alert alert-success">Post at @image.UpdateDate</p>
                    </div>
                </div>
                <div class="detail">
                    <div class="input-group  input-group-sm">
                        <span class="input-group-addon">URL</span>
                        <input type="text" class="form-control" value="@image.Url">
                        <span class="btn-default btn-sm input-group-addon copyIcon" id="toolTipSpan" data-toggle="tooltip" data-original-title="Copy to ClipBoard"></span>
                    </div>
                    <span>
                        @using (Html.BeginForm("PicOperation", "Home", FormMethod.Post))
                        {
                            <a class="btn btn-default btn-sm" data-src="@image.Url" data-type="@image.ContentType" data-toggle="modal" data-target="#MediaDetail" >Large</a>
                            <input type="text" name="ImageID" id="imageID" value="@image.ImageId" hidden />

                            if (image.IsPublish == 1)
                            {  
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalPopMessage" data-operate="BePrivate">Be Private</button>
                            }
                            else
                            {
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalPopMessage" data-operate="BePublic">Be Public</button>
                            }
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalPopMessage" data-operate="Delete">Delete</button>
                        }
                    </span>
                </div>
            </div>
        }
    </div>

</div>

<div class="modal fade" id="modalPopMessage" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p id="pop-up-message"></p>
            </div>
            <div class="modal-footer">
                <button type="submit" id="pop-up-confirm" class="btn btn-primary btn-sm">Comfirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="MediaDetail" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="container-fluid modal-content">
            <div class="modal-header col-lg-12 col-md-12 col-xs-12  col-sm-12">
                <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                <h4 class="modal-title pull-left">Media Detail</h4>
            </div>
            <div class="modal-body col-lg-12 col-md-12 col-xs-12  col-sm-12">
                <div id="pop-up-media" class="col-lg-12 col-md-12 col-xs-12  col-sm-12"></div>
            </div>
            <div class="modal-footer col-lg-12 col-md-12 col-xs-12  col-sm-12">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<hr>
<script type="text/javascript">
    $(document).ready(function () {
        $('.copyIcon').click(function () { // IE 11, Chrome, Firefox 42
            $(this).prev('input').focus().select();
            document.execCommand('copy');
        });
        $('#modalPopMessage').on('show.bs.modal', function (event) {
            var target = $(event.relatedTarget);
            var oper = target.data("operate");
            if (oper === "BePublic") {
                $(".modal-title").text('Be Public');
                $("#pop-up-message").text("Are you sure you want to public your picture?");
            }
            else if (oper === "BePrivate") {
                $(".modal-title").text('Be Private');
                $("#pop-up-message").text("Are you sure you want to private your picture?");
            }
            else if (oper === "Delete") {
                $(".modal-title").text('Delete');
                $("#pop-up-message").text("Are you sure you want to delete your picture?");
            }

            $("#pop-up-confirm").click(function() {

                if (oper === "Delete") {
                    target.after("<input type='text' name='operation' value='2' hidden>");
                } else if (oper === "BePrivate") {
                    target.after("<input type='text' name='operation' value='0' hidden>");
                } else if (oper === "BePublic") {
                    target.after("<input type='text' name='operation' value='1' hidden>");
                }
                target.closest('form').submit();
            });
        });
        $('#MediaDetail').on('show.bs.modal', function (event) {
            var target = $(event.relatedTarget);
            var type = target.data("type");
            var source = target.data("src");
            if (type.indexOf("image/") > -1) {
                $("#pop-up-media").empty();
                $("#pop-up-media").append("<img id=\"inner-pop-img\" class =\"col-lg-12 col-md-12 col-xs-12  col-sm-12\" src=" + source + " />");
            }
            else {
                $("#pop-up-media").empty();
                $("#pop-up-media").append("<video controls class =\"col-lg-12 col-md-12 col-xs-12  col-sm-12\"> <source src=" + source + "> </source> </video>");
            }
        });
    });
    $(".thumb").flip({
        axis: 'y',
        trigger: 'click'
    });





</script>
