@model Blog.Models.Member  
<div class="wrapper">
      @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new {@class="form-signin" }))
      {    
      <h2 class="form-signin-heading">登录 Login</h2>
            @Html.AntiForgeryToken();
          @Html.ValidationSummary(true);
          @Html.TextBoxFor(a => a.UserName, new { @class="form-control username-field", placeholder="用户名 Username", autofocus="" })
            <br>
          @Html.PasswordFor(a=>a.Password , new {@class="form-control password password-field", placeholder="密码 Password", })
           <br>
          @Html.ValidationMessageFor(a=>a.Password )
        <input type="checkbox"><span>记住我 Remember me</span>
          <br>
          <br>
      <input type="submit" class="btn btn-lg btn-primary btn-block" value="登录 Login"/>
       <br><a href='@Url.Action("Signup","Admin")'>没有账户 Don't have an account?</a> 
      }


  </div>

